<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725901304400-ujutvpd1vck1ph68v0n6ifimginq796q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725901304400-ujutvpd1vck1ph68v0n6ifimginq796q</string>
	<key>API_KEY</key>
	<string>AIzaSyC9bUKArsE8_2mmV0qcwrvmHMeNyNK2Yv0</string>
	<key>GCM_SENDER_ID</key>
	<string>725901304400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadsideAssistance</string>
	<key>PROJECT_ID</key>
	<string>roadhelper-90bab</string>
	<key>STORAGE_BUCKET</key>
	<string>roadhelper-90bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725901304400:ios:2895ed56afc367c56f6755</string>
</dict>
</plist>